<launch>
  
  <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="video_device" value="/dev/video0" />
    <param name="image_width" value="640" />
    <param name="image_height" value="480" />
    <param name="pixel_format" value="yuyv" />
    <param name="camera_frame_id" value="camera" />
    <param name="io_method" value="mmap"/>
  </node>
  
  <arg name="launch_prefix" default="" /> 
  <arg name="node_namespace" default="apriltag_ros_continuous_node" />
  <arg name="camera_name" default="/usb_cam" />
  <arg name="camera_frame" default="camera" />
  <arg name="image_topic" default="image_raw" />

  <rosparam command="load" file="$(find lubot_slam)/config/apriltag/settings.yaml" ns="$(arg node_namespace)" />
  <rosparam command="load" file="$(find lubot_slam)/config/apriltag/tags.yaml" ns="$(arg node_namespace)" />
  
  <node pkg="apriltag_ros" type="apriltag_ros_continuous_node" name="$(arg node_namespace)" clear_params="true" output="screen" launch-prefix="$(arg launch_prefix)" >

    <remap from="image_rect" to="$(arg camera_name)/$(arg image_topic)" />
    <remap from="camera_info" to="$(arg camera_name)/camera_info" />

    <param name="publish_tag_detections_image" type="bool" value="true" />      
  </node>
  
  <!-- <node pkg="lubot_slam" type="apriltag_landmark" name="apriltag_landmark">
  </node>

  <include file="$(find sanchi_amov)/launch/imu_100D2.launch" />
  <include file="$(find imu_complementary_filter)/launch/complementary_filter.launch" />
  <include file="$(find ros_arduino_python)/launch/arduino.launch" />
  <include file="$(find wj_716_lidar)/launch/wj_716_lidar_01.launch" />
  <include file="$(find wj_716_lidar)/launch/wj_716_lidar_02.launch" /> -->


  <!-- <node pkg="tf" type="static_transform_publisher" name="base_to_imu" args="0 0 0 0 0 0 base_link imu_link 100"/>
  <node pkg="tf" type="static_transform_publisher" name="odom_map_boradcaster" args="0 0 0 0 0 0 map odom 100"/>-->

  <!-- <node name="base_imu_link" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0  /base_link /imu_link 50"/> -->


  <param name="robot_description" command="$(find xacro)/xacro $(find cartographer_ros)/urdf/simBot.xacro" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <!-- <node pkg="joint_state_publisher" name="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="False" />
  </node> -->
  

  
</launch>
